/* This file is empty by purpose.
You can add your SCSS code here if you really need to. */
// Uni-Bremen Color Palette
// Variable overrides first
$primary: #00326d;
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

$red-dark: #9d2246;
$red-normal: #d50c2f;
$red-button: #c60c2b;
$red-light: #f39ca9;
$blue-dark: #00326d;
$blue-normal: #0068b4;
$blue-light: #89b4e1;
$lila-dark: #3b296a;
$lila-normal: #8681b1;
$lila-light: #c7c1e1;
$koralle-dark: #d45b65;
$koralle-normal: #f4a198;
$koralle-light: #fbdad2;
$yellow-dark: #f7a600;
$yellow-normal: #fece43;
$yellow-light: #ffe7b6;
$green-dark: #008878;
$green-normal: #8acbb7;
$green-light: #d6ebe1;
$Limette-dark: #cdd427;
$Limette-normal: #f6e945;
$Limette-light: #fff8bd;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
@font-face {
  font-family: 'SharpSansWeb-Medium';
  src: url("./SharpSans-Medium.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: "SharpSansWeb-Medium", "Arial", Arial, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $blue-dark;
  text-decoration: none;
  background-color: transparent;
  &:hover {
    text-decoration: underline;
    color: $blue-normal;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.btn,
.btn:active,
.btn:hover,
.btn:focus {
  border-radius: 0;
  border: none;
  transition: none;
}

.btn:hover {
  text-decoration: underline;
}

.btn-primary {
  background-color: $blue-dark;

  &:hover {
    background-color: $red-button;
  }
}
